/* For background image */
    /* body{
        background-size: 100rem;
        opacity: 0.8;
        background-image: url("../../assets/images/bg.jpg");
        background-repeat: no-repeat;
    } */

/* For icons styling */
    .icon-style{
    width: 10%;
    margin-top: 5%;
    margin-left: 2%;
    color: rgb(115, 115, 197);
    }

    .icon-size{
        font-size: 4rem !important;
    }

.main-login-card{
    margin-top: 10% !important;
}

.error{
   color: red;
   text-align:center;
   ;
}


/* Media query for mobile responsive */
@media only screen and (max-width: 600px) {
    .icon-size{
        margin: 71% ;
    }
}   